.card
	position: absolute
	right: 0
	top: 0
	width: 35%
	height: 100%
	background: rgba(0, 0, 0, 0.65)
	z-index: 1

	@media screen and (max-width: $breakpoint-small)
		position: relative
		width: 100%
		min-height: 100vh
		padding-bottom: 50px
		background: #595959

		.slide & &__content:after
			content: ''
			display: block
			height: 250px
			margin: 15px 0
			background-size: contain
			background-position: 50% 50%
			background-repeat: no-repeat

		.slide:nth-of-type(1) & &__content:after
			background-image: url('/pic/design/office-1.jpg')
		.slide:nth-of-type(2) & &__content:after
			background-image: url('/pic/design/office-2.jpg')
		.slide:nth-of-type(3) & &__content:after
			background-image: url('/pic/design/office-3.jpg')

	&__header
		height: 70px
		margin-bottom: 15px
		padding: 5px 0 0 10px
		background-color: #FFF

	&__content
		height: 50%
		margin: 0 10px

	h3
		position: relative
		margin-bottom: 30px
		font-weight: bold
		font-size: 1.3em

		&:before
			content: ''
			position: absolute
			left: 0
			bottom: -13px
			width: 37px
			height: 4px
			font-size: 0
			background-color: #FFF

	a
		color: #FFF

		&:hover
			text-decoration: none

	&__text
		position: relative
		max-height: 100%
		margin-bottom: 15px
		padding-right: 10px
		overflow: hidden

		p
			line-height: 1.25

		p+p
			margin-top: 10px

		.list
			line-height: 1.35

	&__info
		position: absolute
		left: 18px
		top: 97px

		@media screen and (max-width: $breakpoint-small)
			display: none

	&__geo
		margin-bottom: 3px

		span
			display: inline-block
			padding: 5px 10px
			background-color: rgba(0, 0, 0, 0.6)
			color: #FFF

	&__price
		margin-bottom: 5px

		span
			display: inline-block
			padding: 12px 14px 15px
			background-color: rgba(255, 255, 255, 0.8)
			font-size: 1.2rem
			color: #4E4E4E

		b
			color: #DE2828

	&__build
		margin: 15px 0

		img
			vertical-align: middle

		b:first-child
			display: block
			margin-bottom: 5px

	&__button
		position: absolute
		bottom: 0
		width: 100%
		padding: 15px 0
		border: 0
		border-bottom: 4px solid #C80000
		background-color: #FF0000
		color: #FFF
		text-transform: uppercase
		text-align: center
		cursor: pointer

		&:hover
			background-color: #C80000

	.ps-container > .ps-scrollbar-y-rail
		opacity: 1
		background-color: rgba(255, 255, 255, 0.3)

		> .ps-scrollbar-y
			opacity: 1
			background-color: #FFF
