.feedback
	min-height: 243px
	margin-top: 20px
	padding: 20px 0
	background-color: #3C3C3D
	color: #FFF
	text-align: center
	font-size: 1.2rem
	background: url(/pic/design/req-bg.png)

	h3
		position: relative
		margin-bottom: 38px
		font-size: 1rem
		font-weight: bold

		&:after
			content: ''
			position: absolute
			left: 50%
			bottom: -15px
			width: 35px
			height: 4px
			margin-left: -17px
			font-size: 0
			background-color: #CC1C27

	&__button
		display: inline-block
		width: 235px
		height: 45px
		background-color: #CC1C27
		border-bottom: 3px solid #8E0D1C
		color: #FFF
		line-height: 41px
		text-transform: uppercase
		text-decoration: none
		cursor: pointer

		&:hover
			background-color: #8E0D1C

	.tel
		margin-top: 10px
		margin-bottom: 35px
		font-size: 2.2rem

		@media screen and (max-width: $breakpoint-xsmall)
			font-size: 1.5rem
