.slide-delim
	position: absolute
	right: 0
	top: 0
	bottom: 0
	z-index: 9000
	width: $hacky-block-width
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.45)
	background: #54634C url('/pic/design/hacky-pattern.jpg') 0 0 repeat-y

	&__label
		position: absolute
		top: 50%
		left: 0
		width: 100%
		height: 41.5px
		margin-top: -25px
		background-color: rgba(0, 0, 0, 0.8)
		line-height: 41.5px
		text-align: center
		cursor: pointer

		&:after
			content: ''
			display: inline-block
			vertical-align: middle

	.map.is-open &__label

			&:after
				@include sprite($ico-home)

	.map &__label

			&:after
				@include sprite($ico-geo)

	&.state
		left: 100%
