.ico
	position: relative
	display: inline-block
	width: 42px
	height: 42px
	margin-right: 8px
	border-radius: 50%
	background-color: #7AB700
	text-align: center
	line-height: 40px
	vertical-align: top

	&:hover
		background-color: #8cb15c

	&_red
		background-color: #CC1C27

		&:hover
			background-color: lighten(#CC1C27, 20%)


	&:before
		content: ''
		display: inline-block
		vertical-align: middle

.ico-cam

	&:before
		@include sprite($ico-camera)


.ico-360

	&:before
		@include sprite($ico-360)

.ico-video

	&:before
		@include sprite($ico-play)
		transform: translateX(1.5px)

.ico-home

	&:before
		@include sprite($ico-home-search)
