.baloon-layout
	position: absolute
	top: 0
	left: 0
	width: 250px
	border: 1px solid #263E26
	background-color: #FFF
	font-size: 0.8rem
	color: #292929

	&:before
		content: ''
		position: absolute
		bottom: -9px
		left: 50%
		width: 16px
		height: 16px
		background-color: #FFF
		transform: translate(-50%) rotate(45deg)
		border: 1px solid #263E26
		border-width: 0 1px 1px 0
		pointer-event: none

	&__header
		position: relative
		min-height: 150px
		margin-bottom: 5px
		background-repeat: no-repeat
		background-position: 50% 60%
		background-size: cover

	&__title
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		padding: 5px 10px
		color: #FFF
		background-color: rgba(0, 0, 0, 0.8)

	&__image
		width: 100%

	&__props
		margin: 0 0 10px 5px
		line-height: 1.38

	&__prop
		position: relative
		margin-bottom: 5px
		padding-left: 25px

		&:before
			content: ''
			position: absolute
			left: 6px
			top: 2px

		&.address
			&:before
				@include sprite($ico-address-small)

		&.metro
			&:before
				left: 3px
				@include sprite($ico-metro-small)

		&.tel
			&:before
				@include sprite($ico-tel-small)

		&.worktime
			&:before
				@include sprite($ico-time-small)

	.close
		position: absolute
		right: -25px
		top: 0
		width: 20px
		height: 20px
		line-height: 20px
		font-size: 2.2rem
		font-weight: bold
		color: #FFF
		cursor: pointer