.map
	@extend .camouflage-pattern
	position: fixed
	right: 100%
	top: 0
	bottom: 0
	width: 100%
	transform: translateX($hacky-block-width)
	z-index: 9001
	transition: transform 0.5s, right 0.5s

	&.is-animate
		right: 0
		transform: translateX(0)

	&__viewport
		display: none
		position: absolute
		z-index: 1
		top: 0
		left: 0
		width: 100%
		height: 100%

	&.is-open &__viewport
		display: block

	.select-units,
	.select-offices
		display: none
		position: absolute
		left: 15px
		top: 65px

.map-mode
	position: relative
	z-index: 2
	color: #FFF

	&__item
		width: 250px
		height: 40px
		float: left
		border-bottom: 5px solid #3D4E34
		background-color: #52634B
		text-align: center
		line-height: 40px
		word-wrap: nowrap
		cursor: pointer

		&:hover
			background-color: #444f38
			border-bottom-color: #444f38

	.mode-unit &__item_unit,
	.mode-office &__item_office
		background-color: #263E26
		border-bottom-color: #263E26

.map.mode-unit

	.select-units
		display: block

.map.mode-office

	.select-offices
		display: block

.select
	display: inline-block
	position: relative
	width: 225px
	height: 40px
	background-color: #FFF
	color: #303030
	text-align: left
	font-size: 0.9rem
	z-index: 20

	&__text
		padding: 0 45px 0 10px
		line-height: 40px
		white-space: nowrap

	&__dropdown
		display: none
		position: absolute
		top: 100%
		left: 0
		width: 100%
		margin-top: 1px
		padding-top: 10px
		background-color: #FFF

	&.is-open &__dropdown
			display: block

	&__item
		height: 20px
		margin-bottom: 5px
		padding-left: 15px
		font-size: 0.9rem
		cursor: pointer

		&:hover
			color: #961919

	&__button
		position: absolute
		top: 0
		right: 0
		width: 40px
		height: 100%
		background-color: #8F8C77
		cursor: pointer

		&:before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			width: 0
			height: 0
			margin: -3px 0 0 -5px
			border: 6px solid #263E26
			border-color: #263E26 transparent transparent transparent