.modal-window
	display: none
	position: absolute
	left: $hacky-block-width
	top: 0
	right: 0
	height: 100%
	z-index: 15
	background-color: #54634B

	&.is-open
		display: block

	&__container
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)

	&__close
		position: absolute
		right: 0
		top: 0
		width: 70px
		height: 70px
		background-color: rgba(255, 255, 255, 0.1)
		font-size: 5em
		color: #54634B
		text-align: center
		line-height: 70px
		cursor: pointer
