.questions
	margin: 20px -1*$information-right-padding 20px -1*$information-left-padding

	&__title
		padding: 18px 30px
		background-color: #546C54
		border-bottom: 1px solid #FFF
		color: #FFF
		cursor: pointer

		&:hover
			background-color: #9A3239

	&__text
		display: none
		padding: 15px 30px
		background-color: #F4F4F4
		color: #303030

		ul
			margin: 10px 0

		li
			padding-left: 1em

		li:before
			content: '\2022'
			margin: 0 0.65em 0 -1em
			color: #00972E

	&__item.is-open &__text
		display: block

	.list
		margin: 15px 0