.office-slides
	display: none
	position: absolute
	z-index: 4
	left: $hacky-block-width
	right: 0
	top: 0
	bottom: 0
	overflow: hidden
	transform: translateX(100%)
	transition: transform 0.9s
	background-color: #54634B
	color: #FFF
	font-size: 0.9em

	@media screen and (max-width: $breakpoint-small)
		position: relative
		left: 0
		margin-left: $hacky-block-width

	&.is-open
		display: block

	&.slider-animate
		transform: translateX(0)

	&.is-animate
		.slide
			transition: transform 0.5s, opacity 1s

	.slide
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		opacity: 0
		background-position: 50% 100%
		background-repeat: no-repeat
		background-size: cover

		&:before,
		&:after
			content: ''
			position: absolute
			width: 100%
			height: 110px

			@media screen and (max-width: $breakpoint-small)
				display: none

		&:before
			left: 0
			top: 0
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent)

		&:after
			left: 0
			bottom: 0
			background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent)

		&.active
			opacity: 1
			transform: translateY(0)

			@media screen and (max-width: $breakpoint-small)
				position: relative

		&.prev
			opacity: 0
			transform: translateY(-100%)

		&.next
			opacity: 0
			transform: translateY(100%)

	.slide:nth-child(1)
		background-image: url('/pic/design/office-1.jpg')

	.slide:nth-child(2)
		background-image: url('/pic/design/office-2.jpg')

	.slide:nth-child(3)
		background-image: url('/pic/design/office-3.jpg')

	.control-next,
	.control-prev
		position: absolute
		left: calc((100% - 35%) / 2)
		transform: translateX(-50%)
		font-size: 0.9em
		cursor: pointer

		@media screen and (max-width: $breakpoint-small)
			display: none

		&:after
			content: ''
			position: absolute
			left: 50%
			width: 33px
			height: 35px
			margin-left: -17.5px
			border: 3px solid #FFF
			transform: rotate(45deg)

	.control-next
		top: 52px

		&:after
			top: -26px
			border-width: 4px 0 0 4px

	.control-prev
		bottom: 45px

		&:after
			top: 2px
			border-width: 0 4px 4px 0

	.close
		position: absolute
		right: 0
		top: 0
		width: 70px
		height: 70px
		background-color: #E3E2D9
		font-size: 5em
		color: #54634B
		text-align: center
		line-height: 70px
		cursor: pointer

		&:hover
			color: #31402c
			background-color: #e2e1d8
