extends ./layouts/default

block head
	- pageTitle = 'Военная ипотека'

block content
	.page
		.information
			.scrollbar
				header.information__header
					h1 Военная ипотека НДВ-недвижимость
					.action-box
						.action-box__tel +7(495) <b>988-44-22</b>
						.request-button.action-box__request.pseudo-link Оставить заявку

				article.information__content
					h2 Чем привлекательна военная ипотека?
					p С 2005 года в РФ действует целевая ипотечная программа, благодаря которой защитники Отечества получили возможность приобретать жильё на особых условиях. Военная ипотека – это безвозвратная субсидия от государства, доступная каждому служащему Вооружённых сил.
					p Представляем вашему вниманию краткий справочник от «НДВ», который разъяснит ключевые положения программы.
					#information-slider.information__slider
						img(src='/pic/design/1.png' data-slide=0 alt='')
						img(src='/pic/design/2.png' data-slide=1 alt='')
						img(src='/pic/design/3.png' data-slide=2 alt='')
					h2 Как работает военная ипотека
					p Жилищное <a href="/">кредитование</a> реализуется по накопительно-ипотечной системе (НИС). На имя военного открывается целевой накопительный счёт, куда переводится фиксированная сумма за каждый год службы.
					p Ежегодно размер отчислений из Федерального бюджета увеличивается за счёт индексации. Так, в 2014 году выплата составляла 233,1 тыс. рублей, а в 2015 году субсидия увеличилась до 245 880 рублей.
					p Средства доступны через три года со дня регистрации в программе. За этот период на именном счете участника системы накапливается в среднем 750-800 тыс. рублей.

					.requirements
						h3.requirements__title Необходимые документы
						.requirements__list
							.requirements__item Свидетельство участника программы НИС
							.requirements__item Паспорт РФ
							.requirements__item Заполненная анкета

					h2 Военная ипотека: вопросы и ответы
					p Основной смысл преференций в том, что жилищный кредит за военнослужащего выплачивает Министерство обороны.
					ul.questions
						li.questions__item
							h3.questions__title Кто может воспользоваться целевым кредитом?
							.questions__text Право на участие в НИС имеют представители всех видов и родов войск РФ
						li.questions__item
							h3.questions__title Сохраняется ли право на военную ипотеку при увольнении?
							.questions__text
								p Преференции доступны только для военных в действующем звании. В случае досрочного увольнения заёмщику придётся самостоятельно погашать процентные платежи по ставке банка, актуальной на момент заключения ипотечного договора.
								p Преференции доступны только для военных в действующем звании. В случае досрочного увольнения заёмщику придётся самостоятельно погашать процентные платежи по ставке банка, актуальной на момент заключения ипотечного договора.
								ul
									li по достижении граничного возраста;
						li.questions__item
							h3.questions__title Как стать участником программы?
							.questions__text
								ol
									li Подать в штаб своей части рапорт о внесении в список участников НИС.
									li Через 3 года от даты регистрации в программе подать следующий рапорт, на основании которого вручается Свидетельство о праве получения целевого жилищного займа.
									li Выбрать подходящую квартиру и уполномоченный банк.

				.feedback
						<h3>Остались вопросы?</h3>
						| Позвоните или закажите обратный звонок!
						.tel + 7 (495) <b>988-44-22</b>
						.request-button.feedback__button Оставить заявку

				footer.information__footer
					| <a href="http://www.ndv.ru/">WWW.NDV.RU</a> &mdash; Агентство недвижимости НДВ. <br>
					| Трубная площадь, дом 2<br>
					| E-mail: <a href="mailto:ndv@ndv.ru">ndv@ndv.ru</a> Тел.: +7 (495) <b>988-44-22</b><br>
					| &copy; NDV, 1997&mdash;2015 гг.

		section.section-offers
			ul.offer-list
				li(data-slide=0).offer-list__item
					.offer-list__popup
						.offer
							h6.offer__title ЖК Ромашково
							.offer__data.address Адрес: Ромашково, ш. Можайское
							.offer__data.price Стоимость: от 164 000 руб.
							.offer__data.square Площадь: от 38,0 до 131,0
							.offer__data.percent Ипотека 11%
							.offer__data Состояние строительства: <span class="ico-charge"></span> 89% дома построены
							.offer__more Подробнее
				li(data-slide=1).offer-list__item
					.offer-list__popup
						.offer
							h6.offer__title ЖК Ромашково
							.offer__data.address Адрес: Ромашково, ш. Можайское
							.offer__data.price Стоимость: от 164 000 руб.
							.offer__data.square Площадь: от 38,0 до 131,0
							.offer__data Состояние строительства: <span class="ico-charge"></span> 89% дома построены
							.offer__more Подробнее
				li(data-slide=2).offer-list__item
					.offer-list__popup
						.offer
							h6.offer__title ЖК Ромашково
							.offer__data.address Адрес: Ромашково, ш. Можайское
							.offer__data.price Стоимость: от 164 000 руб.
							.offer__data.square Площадь: от 38,0 до 131,0
							.offer__data Состояние строительства: <span class="ico-charge"></span> 89% дома построены
							.offer__more Подробнее

		.slider.office-slides
			.slide
				.card__info
					.card__price
						span Стоимость от <b>54 000 руб./м<sup>2</sup>=</b>
					.card__geo
						span Шоссе: Новорижское, Волоколамское
					.card__geo
						span Ближайшее метро: Тушинская, Мякинино
				section.card
					header.card__header
						img(src='./pic/design/office-logo.png' alt='')
					.card__content
						.card__text
							.scrollbar
								h3 О проекте
								ul.list.list_bullet
									li Для самых маленьких будут построены детские сады и игровые зоны, а для детей постарше – спортивные площадки и школа.
									li Покупатели смогут выбрать на свой вкус квартиры различной площади: от небольших студий до просторных трёхкомнатных квартир
									li Для самых маленьких будут построены детские сады и игровые зоны, а для детей постарше – спортивные площадки и школа.
									li Покупатели смогут выбрать на свой вкус квартиры различной площади: от небольших студий до просторных трёхкомнатных квартир
									li Для самых маленьких будут построены детские сады и игровые зоны, а для детей постарше – спортивные площадки и школа.
									li Покупатели смогут выбрать на свой вкус квартиры различной площади: от небольших студий до просторных трёхкомнатных квартир
									li Для самых маленьких будут построены детские сады и игровые зоны, а для детей постарше – спортивные площадки и школа.
									li Покупатели смогут выбрать на свой вкус квартиры различной площади: от небольших студий до просторных трёхкомнатных квартир

						.card__actions
							a(href='#cam-1').ico.ico-cam.action-camera
							a(href='http://media.ndv.ru/virt_turs/romashkovo/').ico.ico-360.action-360.action-perspective
							a(href='http://media.ndv.ru/files/26/201408/1408954099.html').ico.ico-video.action-video
							a(href='http://ndv.ru').ico.ico_red.ico-home
						.card__build
							b Состояние строительства:
							| <span class="ico-charge"></span> 89% дома построено
						a(href='/' target='_blank') Перейти на сайт объекта
					button.request-button.card__button Оставить заявку на объект
			.slide
				.card__info
					.card__price
						span Стоимость от <b>54 000 руб./м</b>
					.card__geo
						span Шоссе: Новорижское, Волоколамское
					.card__geo
						span Ближайшее метро: Тушинская, Мякинино
					.card__geo
						span Ипотека 11%
				section.card
					header.card__header
						img(src='./pic/design/office-logo.png' alt='')
					.card__content
						.card__text
							h3 О проекте
							ul.list.list_bullet
								li Красногорский р-н, 14 км. от МКАД;
								li квартиры с отделкой NEW!;
								li большой выбор студий: 21.31 кв.м от 1,7 млн рублей;
								li лифты фирмы Otis серии Gen2;
								li отопление от собственной котельной;
								li собственный спортивно-оздоровительный комплекс;
								li детские сады на 430 мест;
								li школа на 900 учеников;
								li прогулочная набережная;
								li многоуровневый паркинг на 910 м/м, гостевые парковочные места;
								li 800 метров до ж/д «Нахабино»;
								li круглосуточная охрана и видеонаблюдение;
								li рядом расположен лучший российский гольф-клуб Moscow Country Club;
								li добраться до микрорайона можно на машине или на электричке (Рижское направление);
								li продажи по ДДУ.

						.card__actions
							a(href='#cam-2').ico.ico-cam.action-camera
							a(href='http://media.ndv.ru/virt_turs/romashkovo/').ico.ico-360.action-360.action-perspective
							a(href='http://media.ndv.ru/files/26/201408/1408954099.html').ico.ico-video.action-video
						.card__build
							b Состояние строительства:
							| <span class="ico-charge"></span> 89% дома построено
						a(href='/' target='_blank') Перейти на сайт объекта
					button.request-button.card__button Оставить заявку на объект
			.slide
				.card__info
					.card__price
						span Стоимость от <b>54 000 руб./м</b>
					.card__geo
						span Шоссе: Новорижское, Волоколамское
					.card__geo
						span Ближайшее метро: Тушинская, Мякинино
				section.card
					header.card__header
						img(src='./pic/design/office-logo.png' alt='')
					.card__content
						.card__text
							h3 О проекте
							ul.list.list_bullet
								li Для самых маленьких будут построены детские сады и игровые зоны, а для детей постарше – спортивные площадки и школа.
								li Покупатели смогут выбрать на свой вкус квартиры различной площади: от небольших студий до просторных трёхкомнатных квартир
						.card__actions
							a(href='#cam-3').ico.ico-cam.action-camera
							a(href='http://media.ndv.ru/virt_turs/romashkovo/').ico.ico-360.action-360.action-perspective
							a(href='http://media.ndv.ru/files/26/201408/1408954099.html').ico.ico-video.action-video
						.card__build
							b Состояние строительства:
							| <span class="ico-charge"></span> 89% дома построено
						a(href='/' target='_blank') Перейти на сайт объекта
					button.request-button.card__button Оставить заявку на объект

			.control-next Следующий объект
			.control-prev Следующий объект
			.close &times;

	section.map
		#page-mode.slide-delim.slide-delim_home
			.slide-delim__label

		#map-viewport.map__viewport

		ul.map-mode
			li(data-type='unit').map-mode__item.map-mode__item_unit
				| Объекты на карте

			li(data-type='office').map-mode__item.map-mode__item_office
				| Офисы НДВ-недвижимость

		.select-units
		.select-offices

	section.application.application-camouflage
		form(action='/flib/form.php' method='POST').application__form
			h2.application__title Оставить заявку
			.application__field
				input(type='text' name='firstname' required=true)
				label.required Имя
			.application__field
				input(type='tel' name='tel' required=true)
				label.required Телефон
			.application__field
				input(type='text' name='info')
				label Email
			.application__field
				textarea(name='comment')
				label Комментарий

			button(type='submit').application__submit Отправить заявку

		.close &times;

	#cam-1.cam-popup
		.cam-popup__head
			.cam-popup__type
				span(data-num=0).is-active 1 очередь
				span(data-num=1) 2 очередь
			.cam-popup__list.is-active
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label.is-active Корпус 11
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 12
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 1-4
			.cam-popup__list
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 11
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 12
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 1-4
		.cam-popup__content
			.cam-popup__iframe
				iframe(src='about:blank' scrolling='no' frameborder='0')

	#cam-2.cam-popup
		.cam-popup__head
			.cam-popup__type
				span(data-num=0).is-active 1 очередь
				span(data-num=1) 2 очередь
			.cam-popup__list.is-active
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label.is-active Корпус 11
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 12
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 1-4
			.cam-popup__list
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 11
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 12
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 1-4
		.cam-popup__content
			.cam-popup__iframe
				iframe(src='about:blank' scrolling='no' frameborder='0')

	#cam-3.cam-popup
		.cam-popup__head
			.cam-popup__type
				span(data-num=0).is-active 1 очередь
				span(data-num=1) 2 очередь
			.cam-popup__list.is-active
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label.is-active Корпус 11
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 12
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 1-4
			.cam-popup__list
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 11
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 12
				span(data-src='http://media.ndv.ru/static/14/romashkovo-1.html').cam-popup__label Корпус 1-4
		.cam-popup__content
			.cam-popup__iframe
				iframe(src='about:blank' scrolling='no' frameborder='0')

	script(src='./jscripts/points.js')
	script(src='./jscripts/bundle.js')
